.container {
  background-color: #171924;
  
}

form{
  color: aliceblue;
  border: aliceblue;
  border-width: 1px;
}

.coin-search{
  padding-bottom: 1%;
  background-color: #323546;
  padding-top: 1.5%;
  padding-left:3%;
  outline-color: aliceblue;
  outline-width: 2px;
}

input[type = text] {
  color: aliceblue;
}

.coin-text{
  color: aliceblue;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;;
}

::placeholder{
  color: aliceblue;

}
.coin-input{
  background-color: #323546;
  outline-color: aliceblue;
}

#coincontainer{
  max-width: none;
  /* margin-left: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  min-width: none;
}

.row {
  
  /* background-color: bisque; */
  /* max-width: none; */
}

#coin-image{
  margin: 5px 10px 5px 10px;
  
  height: 60px;
  width: 80px;
  /* background-color: aquamarine; */
  
}

.row .coin-name{
  font-size: 120%;
  padding-top: 3.5%;
  color: aliceblue;
  /* text-align: left; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;;
  /* background-color: blueviolet; */
  margin: 5px 10px;
  width: 53%;
  /* width: 60%; */
}

.col-2.coindata{
  margin: 5px 10px 5px 10px;
  color: aliceblue;
  padding-top: 1.5%;
  max-width: none;
  min-width: none;
  width: 20%;
  /* background-color: aqua; */
}

.coin-percent-red.col-2.coindata{
  color: red;
}

.coin-percent-green.col-2.coindata{
  color: green;
}

.col-2{
  color: aliceblue;
  font-size: 120%;
}

#volume{
  padding-left: 6%;
}

#pricechange{
  padding-left: 3.5%;
}

#market{
  padding-left: 1%;
}

#coin{
  padding-left: 2%;
}

#price{
  padding-left: 8.5%;
}